* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

.loading-box {
  width: 40%;
  height: 30%;
  background-color: #49464a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-bricks {
  width: 132px;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  gap: 3px;
}

.brick {
  width: 30px;
  height: 30px;
  background-image: linear-gradient(to right, #fd7e08, #fe6b1f);
  border-radius: 4px;
}

.brick-5 {
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: brick-5 6s infinite;
}

.brick-1 {
  animation: brick-1 6s infinite;
}

.brick-2 {
  animation: brick-2 6s infinite;
}

.brick-3 {
  animation: brick-3 6s infinite;
}

.brick-4 {
  animation: brick-4 6s infinite;
}

@keyframes brick-5 {
  0% {
    transform: translateY(0px);
  }

  8.3% {
    transform: translateY(33px);
  }

  16.6% {
    transform: translateY(33px);
  }

  24.9% {
    transform: translateY(33px);
  }

  33.2% {
    transform: translateY(33px);
  }

  41.5% {
    transform: translateY(33px);
  }
  49.8% {
    transform: translateY(33px);
  }
  /* 7-step */
  53.95% {
    transform: translateY(63px);
  }
  58.1% {
    transform: translate(33px, 63px);
  }
  /* 7-step */
  66.68% {
    transform: translate(33px, 33px);
  }
  75.02% {
    transform: translate(33px, 33px);
  }
  83.35% {
    transform: translate(33px, 33px);
  }

  91.64% {
    transform: translate(33px, 33px);
  }
  95.79% {
    transform: translateX(33px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes brick-1 {
  0% {
    transform: translateY(0px);
  }
  /* 1-step */
  4.15% {
    transform: translateY(33px);
  }
  8.3% {
    transform: translate(33px, 33px);
  }
  /* 1-step */

  16.6% {
    transform: translateX(33px);
  }

  24.9% {
    transform: translateX(33px);
  }

  33.2% {
    transform: translateX(33px);
  }

  41.5% {
    transform: translateX(33px);
  }

  /* 6-step */
  45.65% {
    transform: translate(33px, -33px);
  }
  49.8% {
    transform: translateY(-33px);
  }
  /* 6-step */

  58.1% {
    transform: translateX(0px);
  }

  66.68% {
    transform: translateX(0px);
  }
  75.02% {
    transform: translateX(0px);
  }
  83.35% {
    transform: translateX(0px);
  }

  91.64% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes brick-2 {
  0% {
    transform: translateY(0px);
  }

  8.3% {
    transform: translateY(0px);
  }
  /* 2-step */
  12.45% {
    transform: translateY(-33px);
  }
  16.6% {
    transform: translate(33px, -33px);
  }
  /* 2-step */
  24.9% {
    transform: translateX(33px);
  }

  33.2% {
    transform: translateX(33px);
  }
  /* 5-step */
  37.35% {
    transform: translate(33px, 33px);
  }
  41.5% {
    transform: translateY(33px);
  }
  /* 5-step */
  49.8% {
    transform: translateY(0px);
  }

  58.1% {
    transform: translateY(0px);
  }
  /* 8-step */
  62.25% {
    transform: translateY(-33px);
  }
  66.68% {
    transform: translate(33px, -33px);
  }
  /* 8-step */
  75.02% {
    transform: translateX(33px);
  }
  83.35% {
    transform: translateX(33px);
  }
  /* 11-step */
  87.5% {
    transform: translate(33px, 33px);
  }
  91.64% {
    transform: translateY(33px);
  }
  /* 11-step */

  100% {
    transform: translateY(0px);
  }
}

@keyframes brick-3 {
  0% {
    transform: translateY(0);
  }

  8.3% {
    transform: translateY(0);
  }

  16.6% {
    transform: translateY(0);
  }

  /* 3-step */
  20.75% {
    transform: translateY(33px);
  }
  24.9% {
    transform: translate(33px, 33px);
  }
  /* 3-step */

  33.2% {
    transform: translateX(33px);
  }

  41.5% {
    transform: translateX(33px);
  }

  49.8% {
    transform: translateX(33px);
  }

  58.1% {
    transform: translateX(33px);
  }

  66.68% {
    transform: translateX(33px);
  }

  75.02% {
    transform: translateX(33px);
  }

  /* 10-step */
  79.17% {
    transform: translate(33px, -33px);
  }
  83.35% {
    transform: translateY(-33px);
  }
  /* 10-step */

  91.64% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes brick-4 {
  0% {
    transform: translateY(0);
  }

  8.3% {
    transform: translateY(0);
  }

  16.6% {
    transform: translateY(0);
  }

  24.9% {
    transform: translateY(0);
  }
  /* 4-step */
  29.05% {
    transform: translateY(-33px);
  }
  33.2% {
    transform: translate(-33px, -33px);
  }
  /* 4-step */

  41.5% {
    transform: translateX(-33px);
  }

  49.8% {
    transform: translateX(-33px);
  }

  58.1% {
    transform: translateX(-33px);
  }

  66.68% {
    transform: translateX(-33px);
  }
  /* 9-step */
  70.83% {
    transform: translate(-33px, 33px);
  }
  75.02% {
    transform: translateY(33px);
  }
  /* 9-step */

  83.35% {
    transform: translateY(0);
  }

  91.64% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(0);
  }
}
